## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Aa]ppPackages/

## Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
*_i.c
*_p.c
*.hml
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## MSIX
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
AppPackages/
BundleArtifacts/
